header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: blue;
    flex-wrap: wrap; 
}

.logo {
    max-width: 200px;
    width: 100%;  
    height: auto;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap; 
}

ul li {
    margin-right: 2rem;
}

ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #FFEA79;
    transition: color 0.3s, text-decoration 0.3s;
    font-size: 1rem; 
}

nav ul li a:hover { 
    text-decoration: underline; 
}
