main {
    max-width: 1000px; 
    margin: 0 auto;   
}

.content{
    border: 2px solid #ccc; 
    border-radius: 4px; 
    margin: 6rem auto 1rem auto;
    width: 90%; 
    max-width: 50rem;
    color: #333;
}

.upper {
    padding: 1rem;
    display: flex;
}

.upper-left {        
    width: 70%;      
    margin-right: 1rem;
    position: relative; 
    display: inline-block;
}

.imagen {
    width: 100%;          
    max-width: 500px;     
    border: 2px solid #ccc;
    display: block;       
}

.monster {
    position: absolute;
    bottom: 1%; 
    left: 50%;                                       
    width: 160px;              
    height: auto;              
    pointer-events: none;      
    display: none;
}

.upper-right{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper h3{
    margin-bottom: 1rem;
}

.ficha{
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

.hero-card {
    margin-bottom: 1rem;
    font-size: 0.75rem;
}

.hero-card p{
    margin-bottom: 0.5rem;
}

.ficha span{
    color: #FFEA79;
}

.map{
    max-width: 150px;
}

.middle {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.middle-left{
    width: 70%;
    max-width: 500px;
    margin-right: 1rem;
}

.middle h2 {
    margin-bottom: 1rem;
}

.middle textarea {
    font-family: "Press Start 2P", system-ui;
    width: 100%;
    height: 100px;        
    font-size: 0.6rem;
    background-color: #FFEA79; 
    border: 2px solid #ccc; 
    border-radius: 4px;
    padding: 0.5rem;
    resize: none;        
    overflow-y: auto;      
}

.middle-right{
    width: 30%;
}

.controllers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row1{
    margin-top: 1rem;
}

.row1, .row2, .row3 {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.row3{
    margin-bottom: 0;
}

.btn {
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 30px;
}

.btn img{
    width: 30px;
}

.btn .hover {
    display: none;
}

.btn:hover .normal {
    display: none;
}

.btn:hover .hover {
    display: block;
}

.down{
    padding: 1rem;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
}

.down-left{
    display: flex;
    width: 70%;
    max-width: 500px;
    margin-right: 1rem;
}

.down-right{
    display: flex;
    justify-content: center;
    width: 30%;
}

.action {
    display: flex;
    justify-content: start;
    gap: 0.6rem;
}

.action button {
    font-family: "Press Start 2P", system-ui;
    color: #333;
    border-radius: 4px;
    border: 2px solid #ccc;
    padding: 0.5rem 1rem;
    background-color: #FFEA79;
    font-size: 0.8rem;
    white-space: nowrap; 
    cursor: pointer;
}

.action button:hover {
    border: 2px solid #333; 
}

.icon-bar {
    display: flex;
    justify-content: space-between;
}

.down a{
    margin-right: 0.5rem;
}

.down img {
    max-width: 25px;
}

.icon-btn .hover {
    display: none;
}

.icon-btn:hover .normal {
    display: none;
}

.icon-btn:hover .hover {
    display: block;
}