main {
    max-width: 1000px; /* limitamos la anchura de parte principal */
    margin: 0 auto;    
}

/* estilos de contenedor principal de nuestro juego  */

.content{
    border: 2px solid #ccc; /* ponemos un borde  */
    border-radius: 4px; 
    margin: 2rem;
    margin-top: 7rem;
}

/* estilos de la parte arriva de pantalla (imagen y la parte derecha)  */

.arriva{
    padding: 1rem;
    display: flex;
}

/* Los estilos de la imagen principal de cada sala */

.imagen {
    margin-right: 1rem;
    max-width: 500px;
    width: 70%;
}

/* los estilos de la parte derecha de pantalla (ficha) */

.derecho{
    width: 100%;
}

.derecho p {
    color: #333;
}

.derecho h3{
    margin-bottom: 1rem;
    color: #333;
}

.derecho span {
    color: #FFEA79;
}

/* los estilos de los botones de mover  */

.controladores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row1{
    margin-top: 2rem;
}

.row1, .row2, .row3 {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

row3{
    margin-bottom: 0;
}

.btn {
    display: inline-block;
    position: relative;
}

.btn img{
    width: 30px;
}

.btn .hover {
    display: none;
}

.btn:hover .normal {
    display: none;
}

.btn:hover .hover {
    display: block;
}

.bajo {
    padding: 1rem;
}

/* los estilos de la cabezera de cada sala */

.bajo h2 {
    color: #333;
    margin-bottom: 1rem;
}

/* los estilos de la ventanita de output */

.bajo textarea {
    width: 100%;
    height: 80px;        
    font-size: 0.8rem;
    background-color: #FFEA79; 
    color: #333;
    border: 2px solid #ccc; /* ponemos un borde  */
    border-radius: 4px;
    padding: 0.5rem;
    resize: none;        
    overflow-y: auto;      
}

/* los estilos de la sección de los botones de acción */

.botones{
    padding: 1rem;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.accion {
    display: flex;
    justify-content: start;
    gap: 0.6rem;
}

.accion button {
    font-family: "Press Start 2P", system-ui;
    color: #333;
    border-radius: 4px;
    border: 2px solid #ccc;
    padding: 0.5rem 1rem;
    background-color: #FFEA79;
    font-size: 0.8rem;
    white-space: nowrap; 
}


.accion button:last-child{
    margin-right: 0; /* quitamos el margen para el ultimo boton  */
}

.accion button:hover {
    border: 2px solid #333; /* ponemos un borde con un color diferente */
}

/* estilos para los botones de play, parar, guardar y cargar */

.icon-bar {
    display: flex;
    justify-content: space-between;
}

.botones a{
    margin-right: 0.5rem;
}

.botones a:last-child{
    margin-right: 0;
}

.botones img {
    max-width: 20px;
}

.icon-btn .hover {
    display: none;
}

.icon-btn:hover .normal {
    display: none;
}

.icon-btn:hover .hover {
    display: block;
}